@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
  margin: 0;
  font-family: 'Lexend', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f5;
}

code {
  font-family: 'Lexend', sans-serif !important;
}

.back{
  background-image: url('D:/Project Related (PERSONAL)/slight-app/client/src/wa.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}